@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
/*font-family: 'Work Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
/*font-family: 'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
/*font-family: 'Open Sans', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;500;600&display=swap");
/*font-family: 'Signika', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*font-family: 'Roboto', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

/*main*/
#particles-js {
    background-image: url("../assets/bckg.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.desk a {
    text-decoration: none;
    color: white;
}
.desk {
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    backdrop-filter: blur(4px) brightness(60%);
    width: 100%;
    padding-top: 7px;
    z-index: 5;
    font-family: "Work Sans", sans-serif;

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
}
.desk ul li {
    list-style: none;
}
.desk .brand {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    overflow: hidden;
}
.desk .links {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desk .links ul {
    display: flex;
}
.desk .links ul li {
    padding: 0rem 1rem;
}
.desk .links .option .sub {
    display: none;
    background: #bdacf3;
    width: 450px;
}
.desk .links .option .sub ul {
    display: flex;
    flex-direction: column;
    width: max-content;
}
.desk .links .option .sub a {
    color: #0c0d08;
}
.desk .links .option .sub ul li {
    padding: 0.5rem 0.5rem;
}
.desk .links .option:hover .sub {
    display: block;
    position: fixed;
}
.desk .contact {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desk .contact a .fa{
    font-size: 2rem !important;
    color: #6767e7;

  

}
.desk .contact a .fas{
    position: relative;
    top: -3px;
}
.contact .contactmem{
    display: none;
    background: #bdacf3;
    color: #0c0d08;
    border-radius: 15px;
    width: auto;
    position: fixed;
    top: 60px;
    right: 40px;
    padding: 2rem 2rem;
}
.contact:hover .contactmem{
    display: block;
}


.mob,
.nav-links {
    display: none;
}
.hero {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
}
.hero h1 {
    width: 90%;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 50.5px;
    text-align: center;
    text-transform: uppercase;
}
.hero p {
    width: 80%;
    padding-bottom: 20px;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}
.hero .buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.hero .buttons button {
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background: linear-gradient(91.06deg, #4776e6 0.42%, #8e05c2 152.58%);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section1 {
    width: 100%;
    height: 100vh;
}

/*2 section*/

.section2 {
    width: 100%;
    height: 45vh;
    background: #0c0d08;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2 h1 {
    padding-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section2 p {
    width: 75%;

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}

/*3section*/
.section3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(
        105.07deg,
        #700b97 -7.71%,
        #6767e7 47.1%,
        #8e54e9 101.92%
    );
    display: flex;
}
.section3 .mobile {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 .mobile img {
    max-width: 76vw;
    max-height: 60vh;
    position: relative;
}
.section3 .desc {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3 .desc h3 {
    margin-top: 10px;
    padding-left: 10%;
    overflow: hidden;
}
.section3 .desc h1 {
    margin-top: 10px;
    padding-left: 10%;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
}
.section3 .desc p {
    width: 90%;
    margin-top: 10px;
    padding-left: 10%;
    overflow: hidden;

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
}
.section3 a {
    align-self: center;
}
.section3 button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    margin-top: 20px;
}
.section3 button .fas{
    font-size: 1rem;
    position: relative;
    top: -2px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}

/*section4*/
.section4 {
    padding-top: 5rem;
    background: #0c0d08;
    color: white;
}
.section4 .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section4 .desc h1 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section4 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}
.section4 .container {
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section4 .partner {
    /*margin 4 small*/
    width: 400px;
    height: 100px;
    margin: 20px;
    background: rgba(229, 229, 229, 0.22);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

/*section5*/
.section5 {
    background: #0c0d08;
    padding-top: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5 .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section5 .desc h1 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section5 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}
.section5 .container {
    margin-top: 2rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
}
.section5 .stat {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 6px solid;
    border: double 6px transparent;
    background-image: linear-gradient(
            155.1deg,
            rgb(0, 0, 0) 25.75%,
            rgba(0, 0, 0, 0.9) 70.35%
        ),
        linear-gradient(
            105.07deg,
            #700b97 -7.71%,
            #6767e7 47.1%,
            #8e54e9 101.92%
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.section5 .stat:nth-child(n) {
    margin-top: 3rem;
}
.section5 .stat:last-child {
    margin-bottom: 3rem;
}
.section5 .stat:hover {
    box-shadow: 0px 0px 41.22px 12px #8e54e9;
    z-index: 12;
}

/*section6*/
.section6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #0c0d08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.section6 .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.section6 .desc h1 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section6 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}
.section6 .cards {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section6 .cards .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 5rem;
}
.section6 .cards .container .card {
    margin: 20px;
    width: 250px;
    height: 300px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    background: #1f1f1f;
    border-right: 2px solid #3a3a3a;
    border-bottom: 2px solid #3a3a3a;

}
.section6 .cards .container .card .icon {
    width: 120px;
    height: 120px;
    border: 4px solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: double 4px transparent;
    background-image: linear-gradient(
            155.1deg,
            rgb(0, 0, 0) 25.75%,
            rgba(0, 0, 0, 0.9) 70.35%
        ),
        linear-gradient(
            105.07deg,
            #700b97 -7.71%,
            #6767e7 47.1%,
            #8e54e9 101.92%
        );
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50%;
    position: absolute;
    content: "";
    top: -8px;
    bottom: 0;
    left: -6px;
    right: 0;
}

/*section7*/
.section7 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: white;
    position: relative;
    background: linear-gradient(
        105.07deg,
        #700b97 -7.71%,
        #6767e7 47.1%,
        #8e54e9 101.92%
    );
    /*background: linear-gradient(105.07deg, #700B97 -7.71%, #6767E7 47.1%, #8E54E9 101.92%);*/
}
.section7 .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section7 .desc h3{
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section7 .desc h1 {
    margin-bottom: 20px;
    width: 90%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;

    text-align: center;

    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section7 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: initial !important;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: opacity(0);
    background: #bdacf3;
}
.swiper-slide-active {
    filter: opacity(1);
    color: #0c0d08;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
    z-index: -5;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-wrapper {
    width: 50% !important;
}
.swiper .content {
    text-align: center;
    margin-top: 5%;
    border-radius: 35%;
    font-family: "Saira", sans-serif;
}
.swiper-pagination-bullet-active {
    background-color: #51aeff;
}

.iconify {
    height: 50px !important;
    width: auto;
    padding-bottom: 1rem;
}
.card-cont {
    margin: 10px;
}
.content .fa-star {
    color: gold;
    margin-bottom: 2rem;
}
.founder {
    padding-top: 20px;
    padding-bottom: 2rem;

}

/*section8*/
.section8 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #0c0d08;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    /*background: linear-gradient(105.07deg, #700B97 -7.71%, #6767E7 47.1%, #8E54E9 101.92%);*/
}
.section8 .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section8 .desc h1 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section8 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}
.section8 .cards {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: inherit;
}
.section8 .cards .card-container {
    width: 25rem;
    height: 23rem;
    display: flex;
    align-items: center;
    margin: 20px;
}
.section8 .cards .card-container .card1 {
    width: 25rem;
    height: 13rem;
    background: lavender;
    right: -7px;
    background: gold;
    left: 7px;
    position: relative;
    align-self: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.section8 .cards .card-container .card1  img{
    width: auto;
    height: 13rem;
}
.section8 .cards .card-container .card2 {
    width: 45rem;
    height: 20rem;
    position: relative;
    right: -25px;
    left: 0px;
    align-self: flex-end;
    border-radius: 20px;
    color: #0c0d08;
    background: #e5e5e5;
    border-radius: 7.90228px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}
.section8 .cards .card-container .card2  h3{

    margin-top: 20px;
}
.section8 .cards .card-container .card2  h5{
    
    align-self: inherit;

}

/*section9*/
.section9 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(
        105.07deg,
        #700b97 -7.71%,
        #6767e7 47.1%,
        #8e54e9 101.92%
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    /*background: linear-gradient(105.07deg, #700B97 -7.71%, #6767E7 47.1%, #8E54E9 101.92%);*/
}
.section9 .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section9 .desc h3,
.section9 .desc h1 {
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    /* identical to box height */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.section9 .desc p {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}

.accordian {
    width: 80%;
}
.accordian .contents {
    position: relative;
    margin: 10px 20px;
}
.accordian .contents .label {
    position: relative;
    padding: 10px;
    background: #bdacf3;
    color: #0c0d08;
}
.accordian .contents .label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
.accordian .contents .content {
    position: relative;
    background: #bdacf3;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
}
.accordian .contents.active .label::before {
    content: "\f077";
}
.accordian .contents.active .content {
    height: 150px;
    padding: 10px;
}

/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0d08;
}
footer h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
footer section {
    width: 90%;
    color: white;
    margin-top: 5rem;

    display: grid;
    grid-template-areas: "info contact link follow";
    margin-bottom: 2rem;
}
footer .info {
    grid-area: info;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
footer .info p{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}
footer .contact {
    height: max-content;
    grid-area: contact;
    text-align: center;
}
footer .contact h1{
    text-align: center;
}
form {
    max-width: 510px;
    margin: 25px 0;
    margin-right: 25px;
}

.feedback-input {
    color: #9A9EA5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 22px;
    background-color: rgb(221, 217, 217);
    border: 2px solid #0c0d08;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}
.feedback-input::placeholder{
    text-align: center;
}

.feedback-input:focus {
    border: 2px solid #0c0d08;
}

textarea {
    height: 50px;
    line-height: 150%;
    resize: vertical;
    overflow: hidden;
}

[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 40%;
    background: linear-gradient(
        105.07deg,
        #700b97 -7.71%,
        #6767e7 47.1%,
        #8e54e9 101.92%
    );
    align-content: center;
    border-radius: 5px;
    border: 0;
    align-self: center;
    cursor: pointer;
    color: white;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
[type="submit"]:hover {
    background: linear-gradient(
        105.07deg,
        #700b97 -7.71%,
        #6767e7 47.1%,
        #8e54e9 101.92%
    );
    display: flex;
}

footer .link {
    grid-area: link;
    justify-items: center;
    margin-left: 30px;
}
footer .follow {
    grid-area: follow;
    justify-items: center;
    margin-left: 30px;

}
footer .link ul ul {
    padding-left: 10px;
}
footer .link ul li{
    padding-top: 10px;
    list-style: none;
}
footer .link ul ul li{
    padding-top: 0px;
    list-style: circle;
}
footer .follow ul li{
    padding-top: 15px;
    list-style: none;
}
.line{
    background: #0c0d08;
}
.line div{
    margin-left: 10%;
    margin-right: 10%;
    height: 1px;
    background: #e5e7eb;

}
.copy {
    height: 50px;
    color: white;
    background: #0c0d08;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.copy .far{
    margin-right: 3px;
}

@media (max-width: 1440px) {
    .section8 .cards {
        grid-template-columns: 1fr 1fr;
    }
    .section8 .cards .card-container:nth-child(3n) {
        grid-column: 1 / -1;
    }
}

@media (min-width: 992px) {
    .section5 .container {
        width: 80%;
    }
}

@media (max-width: 1170px) {
    .section5 .container {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .section5 .stat {
        width: 11rem;
        height: 11rem;
    }
    .section5 .container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        justify-content: space-around;
    }
    .section6 .cards .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .section8 .cards {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    footer section {
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    }
}

@media (max-width: 768px) {
    .desk {
        display: none;
    }
    .mob {
        display: flex;
        align-items: center;
        height: 60px;
        position: fixed;
        backdrop-filter: blur(4px) brightness(60%);

        top: 0;
        width: 100%;
        padding-top: 7px;
        z-index: 101;
    }
    .mob .hamburger {
        width: 10%;
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    .mob .brand {
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .nav-links ul li {
        list-style: none;
    }
    .mob .contact {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        padding-left: -30px;
    }
    .mob .contact a .fa{
        font-size: 2rem;
        color: #6767e7;


        

    }
    .mob .contact a .fas{
        display: none;
    }
    .mob .contact .contactmem{
        top: 60px;
    }
    .nav-links {
        width: 90%;
        height: 80vh;
        margin-left: 5%;
        margin-top: 8vh;
        display: flex;
        color: #0c0d08;
        z-index: 100;
        flex-direction: column;
        position: fixed;
        background-color: #b2b2b4;
        clip-path: circle(0 at 0% 0%);
        -webkit-clip-path: circle(0px at 0% 0%);
        transition: all 1s ease-out;
    }
    .nav-links ul li {
        margin: 3rem 3rem;
        text-align: left;
        transition: .5s ease;
    }
    .smalldesc{
        background: #9676d7;
        width: 85%;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0rem;
        align-self: center;
        position: relative;
        top: -15px;
    }
    .smalldesc h5{
        max-width: 90%;
    }
    .smalldesc button{
        width: 150px;
        height: 40px;
        margin-top: 10px;
        border-radius: 7px;
        border: none;
        background: #a028d3;
        color: white;
    }
    #check {
        display: none;
    }
    #check:checked ~ .li-collapse {
        display: block;
        
    }
    .nav-links ul li ul{
        transition: .5s ease;
    }
    .nav-links ul li ul li {
        margin: 2rem 2rem;
        
    }
    .li-collapse {
        width: 75%;
        display: flex;
        text-align: left;
        flex-direction: column;
        background: #bdacf3;
        display: none;
    }
    .open {
        clip-path: circle(1000px at 0% 0%);
        -webkit-clip-path: circle(1500px at 0% 0%);
    }
    .section3 {
        height: 72vh;
        padding-top: 0;
        flex-direction: column;
        position: relative;
        align-items: center;
        padding-bottom: 25vh;
    }
    .section3 .mobile {
        width: 100%;
        height: 1500px;
        z-index: 50;
        position: relative;
        top: -33px;
    }
    .section3 .mobile img {
        width: auto;
        min-width: 35vw;
        height: 70vh;

    }
    .section3 .mobile::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 200px;
        background: #0c0d08;
        z-index: -1;
    }

    .section3 .desc {
        width: 90%;
        height: 100%;
        padding-left: 0;
    }
    .section4 .partner {
        flex-basis: 40%;
    }
    footer section {
        display: grid;
        grid-template-areas: 
        "info info" 
        "contact contact" 
        "link follow";

        align-items: center;
        font-family: 'Roboto', sans-serif;

    }
    footer h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 2.2rem;
        /* identical to box height */
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    footer .info p{
        width: 70%;
    }
    footer .info,
    .contact,
    .link,
    .follow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer .contact form{
        margin-right: 0;
    }
    footer .link{
        margin-left: 0;
    }
    footer .follow {
        height: 15rem;
        align-self: auto;
        margin-left: 0;
    }
    footer .follow h3 {
        text-align: center;
    }
}
@media (max-width: 576px) {
    h1,
    h3 {
        width: 80%;
    }

    .hero .buttons {
        flex-direction: column;
        align-items: center;
    }
    .hero .buttons button {
        margin-top: 10px;
    }
    .section2 {
        height: 45vh;
    }
    .section3 .mobile img {
        width: auto;
        height: 70vh;
    }
    .section4 .partner {
        flex-basis: 39%;
    }
    .section5 .stat {
        width: 10rem;
        height: 10rem;
    }
    .section5 .container {
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: space-around;
    }
    .section6 .cards .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 444px) {
    .section2 {
        height: 45vh;
    }
    .section3 {
        height: 77vh;
        padding-bottom: 30vh;
    }
    .section3 .mobile {
        height: 200%;
    }
    .section3 .desc {
        height: 170%;
    }
    .section4 .partner {
        flex-basis: 80%;
    }
    .section8 .cards {
        width: 100%;
    }
    .section8 .cards .card-container {
        width: 20rem;
    }
    .section8 .cards .card-container .card1 {
        width: 27rem;
        height: 10rem;
    }
}

